.ExistingQuiz {
  padding-top: 80px;
  .ExistingQuiz__List__Item {
    border-bottom: 1px #1c2234 solid;
    padding: 5px 10px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &:last-child {
      border: none
    }
  }

  .ExistingQuiz__List__QuizName {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    font-weight: bold;
    a {
      font-weight: normal;
      font-size: 16px;
      color: #1c2234;
      text-decoration: underline;
      &:hover {
        text-decoration: none;
      }
    }
  }
}