.GithubConfig {
  padding-top: 20px; }
  .GithubConfig h2 {
    margin-bottom: 0px;
    text-align: center; }
  .GithubConfig h3, .GithubConfig h4 {
    margin-bottom: 0; }
  .GithubConfig img {
    width: 100%;
    display: block;
    margin-bottom: 20px;
    border: 1px #1c2234 solid; }
  .GithubConfig .GithubConfig__FileName {
    font-weight: bold;
    text-decoration: underline;
    display: inline-block;
    padding: 0 3px; }
  .GithubConfig .btn {
    margin-top: 10px;
    display: inline-block; }
  .GithubConfig .GithubConfig__Info {
    display: flex;
    justify-content: space-between; }
