.Layout {
  height: 100%;
  background: #4954de;
  /* Old browsers */
  background: -moz-linear-gradient(-45deg, #4954de 0%, #49ddd8 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #4954de), color-stop(100%, #49ddd8));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(-45deg, #4954de 0%, #49ddd8 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(-45deg, #4954de 0%, #49ddd8 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(-45deg, #4954de 0%, #49ddd8 100%);
  /* IE10+ */
  background: linear-gradient(135deg, #4954de 0%, #49ddd8 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4954de', endColorstr='#49ddd8',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */ }
  .Layout .Header {
    background: #1b2133; }
    .Layout .Header .Header__title {
      color: #49c7da; }
