// @import "https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css";

@import url("https://fonts.googleapis.com/css?family=Oswald");
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');


html, body {
  height: 100%;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: Oswald, sans-serif;
  // background-color: #1b2133;
  background-color: #fff;
  // color: #fff;
  padding: 0;
  margin: 0;
  color : #1b2133;
}

h1, h2 {
  margin: 0;
}

a {
  text-decoration: none;
}

.container {
  width: 100%;
  // height: 100%;
  // padding-right: 15px;
  // padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  @media (min-width: 576px) {
    max-width: 540px;
  }

  @media (min-width: 768px) {
    max-width: 720px;
  }
  
  @media (min-width: 992px) {
    max-width: 960px;
  }

  @media (min-width: 1200px) {
    max-width: 1140px;
  }
}

.btn {
  appearance: none;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
  color: #fff;
  padding: 10px;
  border-radius: 4px;
}

.btn {
  border: 1px #2fe09d solid;
  background-color: #2fe09d;

  &:hover, &:focus {
    background: #25b37d;
    border-color: #25b37d;
  }
}

.App {
  // overflow: hidden;
}

.App, #root {
  height: 100%;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}




.gradient-1{
  background: rgb(255,174,39); /* Old browsers */
  background: -moz-linear-gradient(-45deg,  rgba(255,174,39,1) 0%, rgba(222,73,109,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(255,174,39,1)), color-stop(100%,rgba(222,73,109,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(-45deg,  rgba(255,174,39,1) 0%,rgba(222,73,109,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(-45deg,  rgba(255,174,39,1) 0%,rgba(222,73,109,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(-45deg,  rgba(255,174,39,1) 0%,rgba(222,73,109,1) 100%); /* IE10+ */
  background: linear-gradient(135deg,  rgba(255,174,39,1) 0%,rgba(222,73,109,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffae27', endColorstr='#de496d',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.gradient-2{
  background: rgb(222,73,109); /* Old browsers */
  background: -moz-linear-gradient(-45deg,  rgba(222,73,109,1) 0%, rgba(171,73,222,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(222,73,109,1)), color-stop(100%,rgba(171,73,222,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(-45deg,  rgba(222,73,109,1) 0%,rgba(171,73,222,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(-45deg,  rgba(222,73,109,1) 0%,rgba(171,73,222,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(-45deg,  rgba(222,73,109,1) 0%,rgba(171,73,222,1) 100%); /* IE10+ */
  background: linear-gradient(135deg,  rgba(222,73,109,1) 0%,rgba(171,73,222,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#de496d', endColorstr='#ab49de',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}
.gradient-3{
  background: rgb(171,73,222); /* Old browsers */
  background: -moz-linear-gradient(-45deg,  rgba(171,73,222,1) 0%, rgba(73,84,222,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(171,73,222,1)), color-stop(100%,rgba(73,84,222,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(-45deg,  rgba(171,73,222,1) 0%,rgba(73,84,222,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(-45deg,  rgba(171,73,222,1) 0%,rgba(73,84,222,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(-45deg,  rgba(171,73,222,1) 0%,rgba(73,84,222,1) 100%); /* IE10+ */
  background: linear-gradient(135deg,  rgba(171,73,222,1) 0%,rgba(73,84,222,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ab49de', endColorstr='#4954de',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}
.gradient-4{
  background: rgb(171,73,222); /* Old browsers */
  background: -moz-linear-gradient(-45deg,  rgba(171,73,222,1) 0%, rgba(73,84,222,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(171,73,222,1)), color-stop(100%,rgba(73,84,222,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(-45deg,  rgba(171,73,222,1) 0%,rgba(73,84,222,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(-45deg,  rgba(171,73,222,1) 0%,rgba(73,84,222,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(-45deg,  rgba(171,73,222,1) 0%,rgba(73,84,222,1) 100%); /* IE10+ */
  background: linear-gradient(135deg,  rgba(171,73,222,1) 0%,rgba(73,84,222,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ab49de', endColorstr='#4954de',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}
.gradient-5{
  background: rgb(171,73,222); /* Old browsers */
  background: -moz-linear-gradient(-45deg,  rgba(171,73,222,1) 0%, rgba(73,84,222,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(171,73,222,1)), color-stop(100%,rgba(73,84,222,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(-45deg,  rgba(171,73,222,1) 0%,rgba(73,84,222,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(-45deg,  rgba(171,73,222,1) 0%,rgba(73,84,222,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(-45deg,  rgba(171,73,222,1) 0%,rgba(73,84,222,1) 100%); /* IE10+ */
  background: linear-gradient(135deg,  rgba(171,73,222,1) 0%,rgba(73,84,222,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ab49de', endColorstr='#4954de',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}
.gradient-6{
  background: rgb(171,73,222); /* Old browsers */
  background: -moz-linear-gradient(-45deg,  rgba(171,73,222,1) 0%, rgba(73,84,222,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(171,73,222,1)), color-stop(100%,rgba(73,84,222,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(-45deg,  rgba(171,73,222,1) 0%,rgba(73,84,222,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(-45deg,  rgba(171,73,222,1) 0%,rgba(73,84,222,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(-45deg,  rgba(171,73,222,1) 0%,rgba(73,84,222,1) 100%); /* IE10+ */
  background: linear-gradient(135deg,  rgba(171,73,222,1) 0%,rgba(73,84,222,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ab49de', endColorstr='#4954de',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}
.gradient-7{
  background: rgb(171,73,222); /* Old browsers */
  background: -moz-linear-gradient(-45deg,  rgba(171,73,222,1) 0%, rgba(73,84,222,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(171,73,222,1)), color-stop(100%,rgba(73,84,222,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(-45deg,  rgba(171,73,222,1) 0%,rgba(73,84,222,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(-45deg,  rgba(171,73,222,1) 0%,rgba(73,84,222,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(-45deg,  rgba(171,73,222,1) 0%,rgba(73,84,222,1) 100%); /* IE10+ */
  background: linear-gradient(135deg,  rgba(171,73,222,1) 0%,rgba(73,84,222,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ab49de', endColorstr='#4954de',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}
.gradient-8{
  background: rgb(171,73,222); /* Old browsers */
  background: -moz-linear-gradient(-45deg,  rgba(171,73,222,1) 0%, rgba(73,84,222,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(171,73,222,1)), color-stop(100%,rgba(73,84,222,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(-45deg,  rgba(171,73,222,1) 0%,rgba(73,84,222,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(-45deg,  rgba(171,73,222,1) 0%,rgba(73,84,222,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(-45deg,  rgba(171,73,222,1) 0%,rgba(73,84,222,1) 100%); /* IE10+ */
  background: linear-gradient(135deg,  rgba(171,73,222,1) 0%,rgba(73,84,222,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ab49de', endColorstr='#4954de',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}
.gradient-9{
  background: rgb(73,84,222); /* Old browsers */
  background: -moz-linear-gradient(-45deg,  rgba(73,84,222,1) 0%, rgba(73,221,216,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(73,84,222,1)), color-stop(100%,rgba(73,221,216,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(-45deg,  rgba(73,84,222,1) 0%,rgba(73,221,216,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(-45deg,  rgba(73,84,222,1) 0%,rgba(73,221,216,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(-45deg,  rgba(73,84,222,1) 0%,rgba(73,221,216,1) 100%); /* IE10+ */
  background: linear-gradient(135deg,  rgba(73,84,222,1) 0%,rgba(73,221,216,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4954de', endColorstr='#49ddd8',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}
.gradient-10{

}
.gradient-11{ 
  background: rgb(73,221,216); /* Old browsers */
  background: -moz-linear-gradient(-45deg,  rgba(73,221,216,1) 0%, rgba(25,226,115,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(73,221,216,1)), color-stop(100%,rgba(25,226,115,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(-45deg,  rgba(73,221,216,1) 0%,rgba(25,226,115,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(-45deg,  rgba(73,221,216,1) 0%,rgba(25,226,115,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(-45deg,  rgba(73,221,216,1) 0%,rgba(25,226,115,1) 100%); /* IE10+ */
  background: linear-gradient(135deg,  rgba(73,221,216,1) 0%,rgba(25,226,115,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#49ddd8', endColorstr='#19e273',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}