@import url("https://fonts.googleapis.com/css?family=Oswald");
html, body {
  height: 100%; }

body {
  font-family: Oswald, sans-serif;
  background-color: #1b2133;
  color: #fff; }

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }
  @media (min-width: 576px) {
    .container {
      max-width: 540px; } }
  @media (min-width: 768px) {
    .container {
      max-width: 720px; } }
  @media (min-width: 992px) {
    .container {
      max-width: 960px; } }
  @media (min-width: 1200px) {
    .container {
      max-width: 1140px; } }

.btn {
  appearance: none;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
  color: #fff;
  padding: 10px; }

.btn {
  border: 1px #349284 solid; }
  .btn:hover, .btn:focus {
    background: #349284; }

.App, #root {
  height: 100%; }
