// @import "https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css";

@import url("https://fonts.googleapis.com/css?family=Oswald");


html, body {
  height: 100%;
}

body {
  font-family: Oswald, sans-serif;
  background-color: #1b2133;
  color: #fff;
}

h1, h2 {
  margin: 0;
}

a {
  text-decoration: none;
}

.container {
  width: 100%;
  // padding-right: 15px;
  // padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  @media (min-width: 576px) {
    max-width: 540px;
  }

  @media (min-width: 768px) {
    max-width: 720px;
  }
  
  @media (min-width: 992px) {
    max-width: 960px;
  }

  @media (min-width: 1200px) {
    max-width: 1140px;
  }
}

.btn {
  appearance: none;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
  color: #fff;
  padding: 10px;
}

.btn {
  border: 1px #349284 solid;

  &:hover, &:focus {
    background: #349284;
  }
}


.App, #root {
  height: 100%;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
