.ResultList {
  border-bottom: 1px #fff solid;
  padding: 40px 0px;

  h2 {
    margin-top: 0;
  }

  .ResultList__Item {
    padding-left: 20px;
    span {
      font-size: 20px;
      display: inline-block;
      padding-right: 10px;

      &.ResultList__Item--Correct {
        color: #4CAF50;
      }

      &.ResultList__Item--Wrong {
        color: #f44336;
      }
    }
  }
}