.Banner {
  font-size: 0.875rem;
  letter-spacing: -.3px;
  border-radius: 4px;
  color: #000;
  padding: 12px 12px 8px 16px;
  line-height: 1.1;
  margin-bottom: 14px; }
  .Banner.Banner--Info {
    background-color: #caf9ab;
    border-left: 10px #5fdb06 solid; }
  .Banner.Banner--Error {
    background-color: #ffc7bf;
    border-left: 10px #ff585f solid; }
