.Quiz {
  background-color: #1b2133;
  height: 100%; 
  header {
    display: flex;
    padding: 20px 10px;
    justify-content: center;
    align-items: center;
    color: #fff;

    h1 {
      margin: 0 auto;
    }
  }

  .Header__Panel {
    text-align: center;
  }

  .Current {
    display: inline-block;
    font-size: 40px;
    line-height: 1.2;
    font-weight: normal;
    padding: 0 10px;
  }
}