.Results .Results__TopPanel {
  text-align: center; }
  .Results .Results__TopPanel span {
    display: block;
    padding-bottom: 10px; }
    .Results .Results__TopPanel span.Results__TopPanel__CorrectCount {
      font-size: 20px; }
    .Results .Results__TopPanel span.Results__TopPanel__Percentage {
      font-size: 30px;
      line-height: 1;
      color: #349284; }
