.Home {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  width: 100%; }
  .Home h1 {
    font-size: 60px;
    transition: all .3s ease; }
    @media (max-width: 576px) {
      .Home h1 {
        font-size: 45px;
        line-height: 1;
        margin-bottom: 20px; } }
  .Home h2 {
    font-size: 30px;
    transition: all .3s ease;
    line-height: 1;
    margin-bottom: 40px; }
  .Home a {
    text-decoration: none;
    font-size: 20px;
    padding: 10px 30px;
    line-height: 1;
    background: #2fe09d;
    border-color: #2fe09d;
    color: #fff;
    border-radius: 4px;
    transition: all .3s ease; }
    .Home a:hover {
      background: #25b37d;
      border-color: #25b37d; }
