.Header {
  padding: 10px;
  color: white;
  z-index: 99;

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .Header__Branding {
    a {
      display: flex;
    }
  }

  .Header__title {
    margin: 0;
    font-size: 25px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    margin-left: 10px;
  }

  .Header__Logo {
    display: inline-block;
    width: 40px;
    height: 40px;
  }
}